.ui.toggle-switch {
  display: flex;
  padding: 1px;
  width: 48px;
  height: 24px;
  border: 1px solid #3d444d;
  border-radius: 6px;
  background-color: #2a313c;
  appearance: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  transition: background-color 100ms ease-in-out;

  &[class$='--active'] {
    background-color: #316dca;
    border-color: #316dca;

    .toggle-switch__slider {
      transform: translateX(24px);
      background-color: #cdd9e5;
      border-color: #316dca;
    }
  }

  .toggle-switch__slider {
    position: relative;
    display: block;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 4px;
    border: 1px solid #3d444d;
    background-color: #151b23;
    transition: transform 100ms ease-in-out;

    &::before,
    &::after {
      position: absolute;
      font-family: monospace;
      width: 23px;
      height: 100%;
      top: 5%;
    }

    &::before {
      content: 'I';
      right: 100%;
    }

    &::after {
      content: 'O';
      left: 100%;
    }
  }
}
